footer{
  background-color: $color-grey;
  padding-top: 60px;

  .btn{
    font-size: $text;
    padding: 0 14px;
    background: #008080;
    border-radius: 25px;
  }
  h6{
    font-size: $sub-title;
    color:$title;
    text-transform: uppercase;
  }
  .desc{
    color: $color-text;
    font-size: $text;
  }
  ul{
    li{
      padding: 7px 0;
      a{
          color: $color-text;
font-size:$text;
font-weight: 300;
display: flex;
align-items: center;
p{
  margin: 0;
}

i{
  color: $primary-color;
  margin-right: 10px;
}
      }

    }
  }
  .copy-right{
    border-top: 1px solid #d7d2d2;
    padding: 20px 0;
.right{
  text-align: right;
  @media(max-width: 600px){
    text-align: left;
    margin-top: 25px;
  }
}
    p{
      margin: 0;
    }
    .row{
      margin: 0;
    }
  }
}
.scroll-top-wrapper{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $primary-color;
  position: fixed;
  right: 40px;
  bottom: 40px;
  line-height: 40px;
  opacity: 0;
  text-align: center;
  transition: all 0.4s ease-in-out;
  &.show{
    opacity: 1;
  }
  i{
    color: #fff;
    font-size: 24px;
    padding: 0;
    line-height: 40px;
  }
}
