.form-wraper{
  background: #fcfcfc;
  overflow-y: visible;
  .row{
    margin-bottom: 0;
  }
  .contact{
    background: #fff;
overflow: auto;
padding: 40px 15px;
max-width: 600px;
margin: -60px auto 60px auto;
position: relative;
z-index: 9;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

input[type=text], [type=email], textarea{
  border-bottom: 1px solid $color-grey;
}
  }
  .btn{
    font-size: 13px;
    border-radius: 25px;
    margin-top: 25px;
    background: #008080;
    text-align: center;
    &:first-child{
      margin-right: 20px;
    }
  }
}
