.page{
  padding: 40px 0;
  @media(max-width: 600px){
    .page-content{
      display: flex;
      flex-flow: column-reverse;
    }
  }
  .content{
    ul.column{
      column-count: 2;
      @media(max-width: 600px){
        column-count: 1;
      }
      li{
        font-size: $text;
        color: $color-text;
        margin-bottom: 7px;
      }
    }
    .card{
    .card-image.overlay{
      &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
      }
      .card-title{
        z-index: 9999;
        font-size: 18px;
      }
    }
    .card-action{
      a{
        font-size: 12px;
      }
    }
  }
  ul.collapsible{
    .collapsible-body{
      padding: 0;
      td{
        padding: 10px 15px;
        &:first-child{
          min-width: 120px;
        }
      }
    }
  }
td{
  font-size: 13px;
}
.modal-content{
  background: #fff;
  img{
    max-width: 200px;
  }
}
}
}
