.page-header{
  background-image: url("../images/ritapad-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 0 70px 0;
  position: relative;


  h3{
    font-size: $title;
    color: $color-title;
  }
  p{
    color: $color-text;
    font-size: $text;
  }
}
