// fonts
@font-face {
    font-family: "Poppins";
    src: local(Poppins),
        url("../fonts/Poppins/Poppins-Regular.ttf") format("ttf"),
        url("../fonts/Poppins/Poppins-Regular.ttf") format("ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Poppins";
    src: local(Poppins),
        url("../fonts/Poppins/Poppins-Light.ttf") format("ttf"),
        url("../fonts/Poppins/Poppins-Light.ttf") format("ttf");
    font-weight: 300;
}
// body
body, html{
  font-family:'Poppins';
  height: 100%;
}
