
  .company-profile{
    .side-bar{
      padding: 20px;
      .single{
        h3{
          font-size: $sub-title;
          color:$color-title;

        }
        ul{
          li{
            padding: 6px 0;

            a{
              color: $color-text;
              font-size: $text;
              &:hover{
                color:$primary-color;
              }
            }
          }
        }

      }
    }
    .content{
      ul{
        column-count: 2;
        @media(max-width: 600px){
          column-count: 1;
        }
        li{
          font-size: $text;
          color: $color-text;
          margin-bottom: 7px;
        }
      }
    }
  }
